<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!--class="navbar navbar-dark bg-primary" -->
  <div class="container-fluid">

    <a class="navbar-brand" href="{{ url_for('index') }}">WebScrape</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="background-color: #4C8CC4; border-radius: 25px;">

      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('go') }}">Go</a>
      </li>

    </ul>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" href="#">Link2</a>
        </li>

      </ul>

      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Not in use" aria-label="Search", name="searched">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
